<div class="flex flex-col w-full h-full mx-auto">
  <!-- 検索フォームを表示 -->
  <%= render 'search_form', q: @q, url: stores_path %>

  <!-- 地図を表示するための要素 -->
  <div id="map" class="w-full h-full"></div>

  <!-- マーカーがクリックされた時に表示される店舗情報の概要のモーダル -->
  <dialog id="store_modal" class="modal">
    <!-- モーダルの本体 -->
    <div class="modal-box w-[500px]">
    </div>
  </dialog>
</div>

<script>
  async function initMap() {
    // 必要なライブラリをインポート
    // 'maps'ライブラリ（地図生成）と'marker'ライブラリ（マーカーの設置・マーカーのカスタマイズ等）を使用
    const { Map } = await google.maps.importLibrary("maps");
    const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");

    // 地図生成のためのオプションを設定
    const mapOptions = {
        center: { lat: 35.681236, lng: 139.767125 }, // 東京駅を中心に設定
        zoom: 11,
        mapId: "<%= ENV["MAP_ID"] %>",
        streetViewControl: false,
        mapTypeControl: true,
        fullscreenControl: false,
        keyboardShortcuts: false,
    };

    // 地図を生成
    const map = new Map(document.getElementById("map"), mapOptions);

    // @storesに格納されている各店舗の情報を繰り返し処理で取得し、マーカーを設置
    <% @stores.each do |store| %>
      (function () {
        // 各店舗の位置情報を取得
        const storeLat = <%= store.latitude %>;
        const storeLng = <%= store.longitude %>;

        // マーカーを生成
        let marker = new AdvancedMarkerElement({
          map: map,
          position: { lat: storeLat, lng: storeLng },
          title: "<%= j store.name %>",
          gmpClickable: true,
        });

        // マーカーをクリックすると、店舗情報のモーダルを表示
        marker.addListener("click", function() {
          // モーダルの内容
          const modalContent = `
            <div>
              <!-- モーダルを閉じるボタン -->
              <form method="dialog">
                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
              </form>
              <!-- Google Mapsの評価とブックマークボタン -->
              <div class="flex justify-start items-center space-x-7">
                <div class="flex justify-start items-center space-x-2">
                  <i class="fa-solid fa-star text-[20px]"></i>
                  <% if store.rating.present? %>
                    <p class="text-sm text-black"><%= store.rating %></p>
                  <% else %>
                    <p class="text-sm text-black">-</p>
                  <% end %>
                </div>

                <!-- ブックマークボタン -->
                <% if user_signed_in? %>
                  <div class="flex flex-row text-accent text-xl">
                    <%= render 'stores/bookmark_buttons', store: store %>
                  </div>
                <% end %>
              </div>

              <!-- 店舗名 -->
              <div class="flex justify-center items-center space-x-4 my-20">
                <i class="fa-solid fa-mug-saucer text-[30px]"></i>
                <p class="text-black font-bold"><%= store.name %></p>
              </div>

              <!-- 店舗の詳細情報へのリンク -->
              <div class="text-center">
                <%= link_to t('.to_show_store'), store_path(store), class: "btn btn-primary w-[200px] h-[50px]" %>
              </div>
            </div>
          `;

          // class="modal-box"の要素にモーダルの内容を追加
          document.querySelector('.modal-box').innerHTML = modalContent;

          // モーダルを表示
          const storeModal = document.getElementById('store_modal');
          storeModal.showModal();
        });
      })();
    <% end %>
  }

  // モーダルが表示されている時、'class="modal-box"'の要素の外側をクリックするとモーダルを閉じる
  document.addEventListener('click', function(event) {
    const storeModal = document.getElementById('store_modal');
    if (event.target === storeModal) {
      storeModal.close();
    }
  });

  // ページ読み込み時とレンダリング時に地図を初期化
  document.addEventListener('turbo:load', initMap);
  document.addEventListener('turbo:render', initMap);
</script>

<!-- Maps JavaScript API中の各種ライブラリを読み込めるようにするためのscriptタグ -->
<script>
  (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
    key: "<%= ENV["GOOGLE_MAPS_API_KEY"] %>", // key: コンソールで作成したAPIキーを指定
    v: "weekly",
    // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
    // Add other bootstrap parameters as needed, using camel case.
  });
</script>
