<div class="navbar bg-accent w-full h-[100px] px-[40px]">
    <div class="flex items-center justify-between w-full h-full">
      <div class="text-base-100 text-base font-body font-bold space-x-[40px]">
        <%= link_to "お問い合わせ", "#" %>
        <%= link_to "利用規約", "#" %>
        <%= link_to "プライバシーポリシー", "#" %>
      </div>
      <div class="flex flex-col items-center justify-center text-base-100">
        <div class="flex space-x-[25px]">
          <%= link_to "https://x.com/basket_blhlc" do%>
            <i class="fa-brands fa-x-twitter text-[35px]"></i>
          <% end %>
          <%= link_to "https://github.com/Ykarz" do%>
            <i class="fa-brands fa-github text-[35px]"></i>
          <% end %>
        </div>
        <p class="text-base font-body font-bold mt-[5px]">©︎ 2025 Bean Trip</p>
      </div>
    </div>
</div>