<div class="navbar bg-primary w-full h-[80px] px-[40px]">
    <div class="flex items-center justify-between w-full h-full">
      <%= link_to "Bean Trip", root_path, class: "flex-none text-base-100 text-4xl font-heading font-bold mr-[40px]" %>
      <div class="flex-none text-base-100 text-base font-bold font-body space-x-[40px]">
        <%= link_to "豆診断", new_diagnosis_path %>
        <%= link_to "豆検索・豆投稿", "#" %>
        <%= link_to "店舗検索", "#" %>
        <% if user_signed_in? %>
          <%= link_to "マイページ", "#" %>
          <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %>
        <% else %>
          <%= link_to "新規登録", new_user_registration_path %>
          <%= link_to "ログイン", new_user_session_path %>
        <% end %>
      </div>
    </div>
</div>