<!-- daisyUIのNavbarコンポーネントを使用 -->
<div class="navbar bg-primary w-full h-[80px] px-[40px] text-base-100">
  <!-- 左側：ロゴとタイトル -->
  <div class="navbar-start">
    <%= link_to root_path, class: "flex flex-none items-center space-x-[10px]" do %>
      <i class="fa-solid fa-mug-saucer text-[30px]"></i>
      <span class="text-4xl font-heading font-bold"><%= t('header.title') %></span>
    <% end %>
  </div>

  <!-- 右側：各機能へのリンク -->
  <div class="navbar-end flex-none space-x-[40px] font-body font-bold">
    <%= link_to t('header.to_diagnosis_page'), new_diagnosis_path %>
    <%= link_to t('header.to_bean_index'), beans_path %>
    <%= link_to t('header.to_store_index'), stores_path %>
    <!-- ログイン時・非ログイン時で表示を分ける -->
    <% if user_signed_in? %>
      <%= link_to t('header.to_profile_page'), profile_path %>
      <%= link_to t('header.logout'), destroy_user_session_path, data: { turbo_method: :delete } %>
    <% else %>
      <%= link_to t('header.to_new_registration_page'), new_user_registration_path %>
      <%= link_to t('header.to_new_session_page'), new_user_session_path %>
    <% end %>
  </div>
</div>
