<div class="flex flex-col items-center w-[1200px] mx-auto my-[100px] text-black">
  <!-- アプリタイトル、キャッチフレーズ -->
  <section class="text-center font-bold space-y-[10px] w-full">
    <h1 class="text-5xl font-heading"><%= t('.title') %></h1>
    <p class="font-body"><%= t('.description') %></p>
  </section>

  <!-- アプリ概要エリア -->
  <section class="text-center font-body w-full mt-[20px] mb-[40px]">
    <p>
      Bean Tripは、コーヒー豆選びに特化したサービスです。<br><br>
      豆選びの方向性を決めるところから始まり、<br>
      細かい銘柄探しや豆を購入できるお店探しまで可能な場所を提供します。<br><br>
      これによって、ユーザーが「自分だけの一杯を淹れる」ことを応援します。
    </p>
  </section>

  <!-- ログインボタン -->
  <div class="text-center font-body w-full mb-[100px]">
    <%= link_to t('.to_login_page'), new_user_session_path, class: "btn btn-primary w-[150px] h-[50px] rounded-lg" %>
  </div>

  <!-- 機能紹介エリア -->
  <section class="w-full font-body">
    <h2 class="text-center text-4xl font-heading font-bold mb-[40px]">
      <%= t('.introduction_feature') %>
    </h2>

    <!-- 各機能の概要を行形式で表示 -->
    <div class="flex flex-row justify-center items-center space-x-[80px] w-full h-[360px] font-body">
      <!-- 豆診断機能紹介 -->
      <div class="flex flex-col justify-between w-1/4 h-full border-[2px] border-primary rounded-lg shadow-lg p-[20px]">
        <div class="space-y-[20px]">
          <p class="text-center text-xl font-bold"><%= t('.diagnoses') %></p>
          <p class="text-left">
            サービス利用が初めての方や、購入したい豆が決まっていない方に向けた機能です。<br><br>
            いくつかの簡単な質問に答えることで、ユーザーに合った銘柄を提案します。
          </p>
        </div>
        <div class="text-center">
          <%= link_to t('.to_diagnosis_page'), new_diagnosis_path, class: "btn btn-warning w-[200px] h-[50px] rounded-lg" %>
        </div>
      </div>

      <!-- 豆検索・豆投稿機能紹介 -->
      <div class="flex flex-col justify-between w-1/4 h-full border-[2px] border-primary rounded-lg shadow-lg p-[20px]">
        <div class="space-y-[20px]">
          <p class="text-center text-xl font-bold"><%= t('.beans') %></p>
          <p class="text-left">
            様々な銘柄や産地の豆を検索したり、購入した豆を投稿して共有できます。<br><br>
            他のユーザーが投稿した豆も閲覧できるため、豆選びの参考にすることができます。
          </p>
        </div>
        <div class="text-center">
          <%= link_to t('.to_bean_index'), beans_path, class: "btn btn-primary w-[200px] h-[50px] rounded-lg" %>
        </div>
      </div>

      <!-- 店舗検索 -->
      <div class="flex flex-col justify-between w-1/4 h-full border-[2px] border-primary rounded-lg shadow-lg p-[20px]">
        <div class="space-y-[20px]">
          <p class="text-center text-xl font-bold"><%= t('.stores') %></p>
          <p class="text-left">
            Google Mapsを使って、豆を購入できるお店を検索できます。<br><br>
            マップ上に表示されているピンをクリックすると、お店の詳細情報や関連投稿を確認できます。
          </p>
        </div>
        <div class="text-center">
          <%= link_to t('.to_store_index'), stores_path, class: "btn btn-accent w-[200px] h-[50px] rounded-lg" %>
        </div>
      </div>
    </div>
  </section>
</div>
