<div class="card bg-white w-full h-[450px] border-[2px] border-primary rounded-[10px] font-body">
  <!-- 投稿画像を表示する部分 -->
  <figure>
    <%= image_tag bean.image_url(:image_on_card) %>
  </figure>

  <!-- 投稿内容を表示する部分 -->
  <div class="card-body text-black shadow-md">
    <!-- 銘柄を詳細ページへのリンクにする -->
    <%= link_to bean_path(bean), data: { turbo: false } do%>
      <h4 class="card-title truncate text-base font-bold underline mb-[10px]">
        <%= bean.name %>
      </h4>
    <% end %>
    <div class="space-y-[5px] text-left text-xs">
      <p class="truncate">
        <%= Country.human_attribute_name(:name) %>：<%= bean.country.name %>
      </p>
      <p class="truncate">
        <%= Bean.human_attribute_name(:roast_level) %>：<%= bean.roast_level_i18n %>
      </p>
      <p class="line-clamp-2"><%= bean.comment %></p>
    </div>

    <div class="flex flex-row justify-between items-center mt-[20px]">
      <!-- 投稿ユーザー情報表示エリア -->
      <div class="flex flex-row items-center space-x-[5px]">
        <div class="w-[40px] h-[40px] bg-neutral rounded-full"></div>
        <div class="flex flex-col justify-center text-xs">
          <p class="truncate"><%= bean.user.name %></p>
          <p class="truncate"><%= bean.created_at.strftime("%Y/%m/%d") %></p>
        </div>
      </div>

      <!-- 編集・削除アイコン表示エリア -->
      <!-- ログインユーザーのidと投稿コンテンツのユーザーidが等しければ表示 -->
      <% if user_signed_in? %>
        <% if current_user.own?(bean) %>
          <div class="flex flex-row items-center space-x-[15px] text-[20px]">
            <%= link_to edit_bean_path(bean), id: "button-edit-#{bean.id}", data: { turbo: false } do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
            <%= link_to bean_path(bean), id: "button-delete-#{bean.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </div>
        <!-- ログインユーザーが作成した投稿でない場合は、ブックマークボタンを表示 -->
        <% else %>
          <div class="flex flex-row text-accent text-[20px]">
            <%= render 'beans/bookmark_buttons', bean: bean %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
