<div class="card bg-white w-full md:h-[450px] border-[2px] border-primary rounded-lg font-body overflow-hidden">
  <!-- 投稿画像を表示する部分 -->
  <figure>
    <%= image_tag bean.image_url(:image_on_card), class: "w-full h-48 md:h-56 object-cover" %>
  </figure>

  <!-- 投稿内容を表示する部分 -->
  <div class="card-body text-black shadow-md p-4 md:p-6">
    <!-- 銘柄を詳細ページへのリンクにする -->
    <%= link_to bean_path(bean), data: { turbo: false } do%>
      <h4 class="card-title truncate text-lg md:text-base font-bold underline mb-2 md:mb-3">
        <%= bean.name %>
      </h4>
    <% end %>
    <div class="space-y-[5px] text-left text-sm md:text-xs">
      <p class="truncate">
        <%= Country.human_attribute_name(:name) %>：<%= bean.country.name %>
      </p>
      <p class="truncate">
        <%= Bean.human_attribute_name(:roast_level) %>：<%= bean.roast_level_i18n %>
      </p>
      <p class="line-clamp-2"><%= bean.comment %></p>
    </div>

    <div class="flex flex-row justify-between items-center mt-5">
      <!-- 投稿ユーザー情報表示エリア -->
      <div class="flex flex-row items-center space-x-2">
        <!-- 投稿ユーザーのアバター画像を表示 -->
        <div class="flex items-center justify-center">
          <%= image_tag bean.user.avatar_url, class: "w-8 h-8 md:w-10 md:h-10 rounded-full object-cover" %>
        </div>
        <div class="flex flex-col justify-center text-xs space-y-1">
          <p class="truncate text-sm md:text-xs"><%= bean.user.name %></p>
          <p class="truncate text-sm md:text-xs"><%= bean.created_at.strftime("%Y/%m/%d") %></p>
        </div>
      </div>

      <!-- 編集・削除アイコン表示エリア -->
      <!-- ログインユーザーのidと投稿コンテンツのユーザーidが等しければ表示 -->
      <% if user_signed_in? %>
        <% if current_user.own?(bean) %>
          <div class="flex flex-row items-center space-x-4 text-lg md:text-xl">
            <%= link_to edit_bean_path(bean), id: "button-edit-#{bean.id}", data: { turbo: false } do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
            <%= link_to bean_path(bean), id: "button-delete-#{bean.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </div>
        <!-- ログインユーザーが作成した投稿でない場合は、ブックマークボタンを表示 -->
        <% else %>
          <div class="flex flex-row text-accent text-lg md:text-xl">
            <%= render 'beans/bookmark_buttons', bean: bean %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
