<div class="flex flex-col items-center w-[1000px] mx-auto">
  <div class="w-full text-black">
    <div class="mt-[50px] text-right">
      <!-- 遷移先のJSイベントを発火させるためにTurboは無効化 -->
      <%= link_to t('.to_new_post'), new_bean_path, data: { turbo: false }, class: "btn btn-warning w-[200px] h-[50px]" %>
    </div>
    <h2 class="text-center text-4xl font-bold font-heading my-[50px]"><%= t('.title') %></h2>

    <!-- 検索フォームのパーシャルを表示 -->
    <%= render 'search_form', q: @q, url: beans_path %>

    <!-- 投稿カードを3列のグリッド形式で表示 -->
    <div class="grid grid-cols-3 gap-x-[80px] gap-y-[50px] my-[100px]">
      <%= render partial: 'bean', collection: @beans %>
    </div>

    <!-- ページネーションのリンクを表示 -->
    <div class="flex justify-center my-[100px]">
      <%= paginate @beans %>
    </div>
  </div>
</div>
