<% content_for(:title, t('.title')) %>
<div class="flex flex-col items-center w-full max-w-[1200px] mx-auto px-4 sm:px-6">
  <div class="w-full text-black">
    <!--ユーザーがログインしている場合のみ、「新規投稿」と「ブックマークした豆一覧」ボタンを表示 -->
    <% if user_signed_in? %>
      <div class="flex flex-col md:flex-row md:space-x-5 space-y-4 md:space-y-0 mt-12 w-full items-end justify-end">
        <!-- 遷移先のJSイベントを発火させるためにTurboは無効化 -->
        <div class="w-full md:w-auto text-right">
          <%= link_to t('.to_new_post'), new_bean_path, data: { turbo: false }, class: "btn btn-warning w-full sm:w-[200px] h-[50px]" %>
        </div>

        <div class="w-full md:w-auto text-right">
          <%= link_to t('.to_bookmarked_beans'), bookmarks_beans_path, class: "btn btn-primary w-full sm:w-[200px] h-[50px]" %>
        </div>
      </div>
    <% end %>

    <h2 class="text-center text-2xl sm:text-3xl md:text-4xl font-bold font-heading my-[12px] sm:my-[30px] md:my-[50px]"><%= t('.title') %></h2>

    <!-- 検索フォームのパーシャルを表示 -->
    <%= render 'search_form', q: @q, url: beans_path %>

    <!-- 投稿カードを3列のグリッド形式で表示 -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-20 gap-y-12 my-24">
      <%= render partial: 'bean', collection: @beans %>
    </div>

    <!-- ページネーションのリンクを表示 -->
    <div class="flex justify-center my-[100px]">
      <%= paginate @beans %>
    </div>
  </div>
</div>
